{% extends "base.html" %}
    {% block title %}Admin Panel{% endblock %}
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/admin.css') }}">
    {% endblock %}
</head>
<body>
    {%block content %}
    <h1>Manage Department</h1>
    <a href="{{ url_for('logout') }}">Logout</a>
    <div class="form-container">
        <table>
            <tr>
                <th>Add Department</th>
            </tr>
            <tr>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="action" value="add_department">
                        <label for="facultyName">Department Name:</label>
                        <input type="text" id="facultyName" name="name" required><br><br>
                        <input type="submit" value="Add Faculty">
                    </form>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Delete Department</th>
            </tr>
            <tr>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="action" value="delete_department">
                        <label for="deleteFaculty">Select Department to Delete:</label>
                        <select id="deleteFaculty" name="department" required>
                            <option value="" disabled selected>Select the Department</option>
                            {% for department in departments %}
                            <option value="{{department.id}}">{{department.department_name}}</option>
                            {% endfor %}
                        </select><br><br>
                        <input type="submit" value="Delete Faculty">
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <h1>Manage Year</h1>
    <div class="form-container">
        <table>
            <tr>
                <th>Add Year</th>
            </tr>
            <tr>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="action" value="add_year">
                        <label for="department">Select Department:</label>
                        <select id="department" name="department" required>
                            {% for department in departments %}
                            <option value="{{department.id}}">{{department.department_name}}</option>
                            {% endfor %}
                        </select><br><br>
                        <label for="year">Year:</label>
                        <input type="number" id="year" name="year" required><br><br>
                        <input type="submit" value="Add Year">
                    </form>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Delete Year</th>
            </tr>
            <tr>
                <td>
                    <form action="/admin" method="post">
                        <input type="hidden" name="action" value="delete_year">
                        <label for="deleteYearDepartment">Select Department:</label>
                            <select id="deleteYearDepartment" name="faculty" required>
                                <option value="" selected disabled>Select the Department</option>
                                {% for department in departments %}
                                <option value="{{department.id}}">{{department.department_name}}</option>
                                {% endfor %}
                            </select><br><br>
                            <label for="deleteYear">Select Year to Delete:</label>
                            <select id="deleteYear" name="year" required>
                                <option value="" disabled selected>Select The Year</option>
                            </select><br><br>
                        <input type="submit" value="Delete Year">
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <h1>Manage Hall</h1>
    <div class="form-container">
        <table>
            <tr>
                <th>Add Hall</th>
            </tr>
            <tr>
                <td>
                    <form action="/admin" method="post">
                        <input type="hidden" name="action" value="add_hall">
                        <label for="hallName">Hall Name:</label>
                        <input type="text" id="hallName" name="name" required>
                        <label for="hallName">Hall Type</label>
                        <select name="hallType" required>
                            <option value="Lecture Hall" selected>Lecture Hall</option>
                            <option value="Laboratory">Laboratory</option>
                        </select><br><br>
                        <input type="submit" value="Add Hall">
                    </form>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Delete Hall</th>
            </tr>
            <tr>
                <td>
                    <form action="/admin" method="post">
                        <input type="hidden" name="action" value="delete_hall">
                        <label for="deleteHall">Select Hall to Delete:</label>
                        <select id="deleteHall" name="deleteHall" required>
                            <option value="" disabled selected>Select The Hall</option>
                            {% for hall in halls %}
                                <option value="{{hall.id}}">{{hall.hallName}}</option>
                                {% endfor %}
                        </select><br><br>
                        <input type="submit" value="Delete Hall">
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <h1>Manage User</h1>
    <div class="form-container">
        <table>
            <tr>
                <th>Add Lecture</th>
            </tr>
            <tr>
                <td>
                    <form action="/admin" method="post">
                        <input type="hidden" name="action" value="add_lecture">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required><br><br>
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required><br><br>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required><br><br>
                        <input type="submit" value="Add Lecture">
                    </form>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Delete Teacher</th>
            </tr>
            <tr>
                <td>
                    <form action="/admin" method="post">
                        <input type="hidden" name="action" value="delete_teacher">
                        <label for="deleteTeacher">Select Teacher to Delete:</label>
                        <input type="text" id="deleteTeacher" name="username" required><br><br>
                        <br><br>
                        <input type="submit" value="Delete Teacher">
                    </form>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
         $(document).ready(function() {
            $('#deleteYearDepartment').change(function() {
                var faculty = $(this).val();
                $.ajax({
                    url: '/api?action=getYears&faculty=' + faculty,
                    method: 'GET',
                    success: function(years) {
                        $('#deleteYear').empty();
                        years.forEach(function(year) {
                            $('#deleteYear').append(new Option(year, year));
                        });
                    }
                });
            });
        });
    </script>
</body>
</html>