<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {%block head %}{% endblock %}
</head>
<body>
     {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flashes">
        {% for category, message in messages %}
          <div class="flash-{{ category }}">{{ message }} <button type="button" class="close-btn" onclick="closeFlashMessage(this)">&times;</button> </div>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    
    {%block content %}{% endblock %}


    <script>
    // Function to close a flash message
    function closeFlashMessage(event) {
        const flashMessage = event.target.closest('[class^="flash-"]');

        if (flashMessage) {
            // Add the fade-out class to start the transition
            flashMessage.classList.add('fade-out');

            flashMessage.addEventListener('transitionend', () => {
                flashMessage.remove();
            }, { once: true }); // Ensure the event listener is removed after it fires once
        }
    }
    document.addEventListener('DOMContentLoaded', () => {
        const closeButtons = document.querySelectorAll('.close-btn');

        closeButtons.forEach(button => {
            button.addEventListener('click', closeFlashMessage);
        });
    });
</script>

</body>
</html>