<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hall_edit</title>
</head>
<body>
    <table>
        <form action="" method="post">
            <tr>
                <td>Hall Name:</td>
                <td><input type="text" name="hname" id=""></td>
            </tr>
            <tr>
                <td>
                    <select name="htype" id="">
                        <option value="lecture_hall">Lecture Hall</option>
                        <option value="Lab">Lab</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Add">
                </td>
            </tr>
        </form>
    </table>
</body>
</html>