<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture Booking</title>
</head>
<body>
    <form action="" method="post">
        <input type="hidden" name="value" value="admin">
        <input type="submit" value="Admin Login">
    </form>
    <form action="" method="post">
        <input type="hidden" name="value" value="lecture">
        <input type="submit" value="Lecture Login">
    </form>
    <form action="" method="post">
        <input type="hidden" name="value" value="student">
        <input type="submit" value="Student Login">
    </form>
</body>
</html>