<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <form action="" method="post">
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Userame:</td>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" name="password"></td>
            </tr>
            <tr>
                <td>Department:</td>
               <td>
                <select name="depatment" id="department">
                    <option value="1">IT</option>
                    <option value="2">PM</option>
                    <option value="3">English</option>
                    <option value="4">Acount</option>
                </select>
               </td>
            </tr>
            <tr>
                <td><input type="submit" value="Register"></td>
            </tr>
        </form>
    </table>
</body>
</html>